{% load static %}
<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="#">
    <title>Анализ публикационной активности университета</title>
    <link rel="stylesheet" type="text/css" href="{% static 'mainapp/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'mainapp/css/jumbotron.css' %}">
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand btn btn-primary" href="/mainapp">Главная</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>    
    </nav>

  {% if univer %}
  
      <main role="main">
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-5">{{ univer.univer_name }}</h1>
          <form action="#" method="get">
            <div class="form-group">
              <input type="hidden" name="vuz" value="{{ univer.id }}">
              <label for="exampleFormControlSelect1">Факультет:</label>
              <select disabled class="form-control form-control-lg" id="fakSelect" name="fak" onchange="this.form.submit(); (document.getElementById('load_block').style.display='block')">
                <option value="1">Все</option>
              </select>
              <label for="exampleFormControlSelect1">Кафедра:</label>
              <select disabled class="form-control form-control-lg" id="kafSelect" name="kaf" onchange="this.form.submit(); (document.getElementById('load_block').style.display='block')">
                <option value="1">Все</option>
              </select>
              <label for="exampleFormControlSelect1">Сотрудник:</label>
              <select class="form-control form-control-lg" id="sotrSelect" name="sotrud" onchange="this.form.submit(); (document.getElementById('load_block').style.display='block')">
                <option value="1">Все</option>
                {% for sotr in sotrud %}
                    <option value="{{sotr.id}}">{{sotr.fio_sotrud}}</option>
                {% endfor%}
              </select>
            </div>  
          </form>
          <div class="cssload-container" id="load_block" style=" display:none;">
            <div class="cssload-whirlpool"></div>
          </div>
          {% if not rej_view %}
          <table class="table table-striped">
            <thead class="thead-dark">
              <tr>
                <th>Название показателя</th>
                <th>Значение</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                  <td>ID организации на elibrary</td>
                  <td>{{ univer.orgsid_univer }}</td>
              </tr>  
              {% for dict_item in vuz_inf_dict.items %}
              <tr>
                {% for key in dict_item %}
                  <td>{{key | safe}}</td>
                {% endfor %}
              </tr>  
              {% endfor %}                                        
            </tbody>
          </table>
          {% endif %}
          {% if rej_view == 3 %}
          <table class="table table-striped">
            <thead class="thead-dark">
              <tr>
                <th>Название показателя</th>
                <th>Значение</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                  <td>ФИО сотрудника</td>
                  <td>{{ sotr.fio_sotrud }}</td>
              </tr>  
              <tr>
                  <td>ID автора на elibrary.ru</td>
                  <td>{{ sotr.authorid_sotrud }}</td>
              </tr>                
              {% for dict_item in sotrud_inf_dict.items %}
              <tr>
                {% for key in dict_item %}
                  <td>{{key | safe}}</td>
                {% endfor %}
              </tr>  
              {% endfor %}                                        
            </tbody>
          </table>
          {% endif %}
        </div>
      </div>
    </main>      
  {% else %}
    <main role="main">
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-5">Анализ публикационной активности</h1>
          <p>Система визуальзации и анализа публикацинной активности сотрудников университета</p>
            <form action="#" method="get">
                <div class="form-group">
                <label for="exampleFormControlSelect1">ВУЗ:</label>
                <select class="form-control form-control-lg" id="exampleFormControlSelect1" name="vuz">
                  <option value="2">Ростовский государственный экономический университет (РИНХ)</option>
                  <option value="3">Южный федеральный университет</option>
                  <option value="4">Донской государственный технический университет</option>
                </select>
                <br/><button type="submit" onclick="(document.getElementById('load_block').style.display='block')" class="btn btn-primary btn-lg">Начать анализ</button>
                </div>
            </form>
            <div class="cssload-container" id="load_block" style=" display:none;">
              <div class="cssload-whirlpool"></div>
            </div>
      </div>
    </main>
  {% endif %}



<!--
      <div class="container">

        <div class="row">
          <div class="col-md-4">
            <h2>Heading</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>Heading</h2>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h2>Heading</h2>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
          </div>
        </div>
-->
        <hr>

      </div> <!-- /container -->

    </main>

    <footer class="container">
      <p>&copy; РГЭУ "РИНХ" ВКР 2022</p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="{% static 'mainapp/js/jquery-slim.min.js' %}"><\/script>')</script>
    <script src="{% static 'mainapp/js/popper.min.js' %}"></script>
    <script src="{% static 'mainapp/js/bootstrap.min.js' %}"></script>
    {% if rej_view == 3 %}
    <script type="text/javascript">
      {% for k, v in sotrud_inf_dict.items %}
        {% if k == 'ФИО сотрудника' %}
          document.getElementById("sotrSelect").value = '{{sotr.id}}';
        {% endif %}
      {% endfor %}
    </script>
    {% endif %}
  </body>      
</html>
