{% load static %}
<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="#">
    <title>Анализ публикационной активности университета</title>
    <link rel="stylesheet" type="text/css" href="{% static 'mainapp/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'mainapp/css/jumbotron.css' %}">
    <link rel="stylesheet" href="{% static 'mainapp/css/charts.min.css' %}">
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand btn btn-primary" href="/">Главная</a>
		<ul class="nav navbar-nav ml-auto">
		  <li class="nav-item">
			<a class="nav-link" href="/accounts/login"><span class="fas fa-sign-in-alt"></span> Вход</a>
		  </li>
		</ul>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>    
    </nav>

      <main role="main">
      <div class="jumbotron">
        <div class="container">
			
					<h2 class="display-5">Ростовский государственный экономический университет (РИНХ)</h2>
					<div class="alert alert-info" role="alert">
					  Дата и время последнего обновления показателей: <strong>{{date_obn}}</strong>
					</div>											

						<div class="btn-group row d-flex justify-content-center flex-nowrap mt-1" role="group" aria-label="...">
							{% if publ %}
						    {% if publ == 1 %}
						      <button type="button" onclick="location.href='?publ=0&year={{year}}&fak={{fak}}&kaf={{kaf}}';" class="btn btn-outline-secondary">Публикаций в РИНЦ</button>
								  <button type="button" onclick="location.href='?publ=1&year={{year}}&fak={{fak}}&kaf={{kaf}}';" class="btn btn-secondary" disabled>Публикации входящие в ядро РИНЦ</button>
								  <button type="button" onclick="location.href='?publ=2&year={{year}}&fak={{fak}}&kaf={{kaf}}';" class="btn btn-outline-secondary">Цитирования публикаций в РИНЦ</button>
								  <button type="button" onclick="location.href='?publ=3&year={{year}}&fak={{fak}}&kaf={{kaf}}';" class="btn btn-outline-secondary">Индекс Хирша по публикациям в РИНЦ</button>
						    {% elif publ == 2 %}
						      <button type="button" onclick="location.href='?publ=0&year={{year}}&fak={{fak}}&kaf={{kaf}}';" class="btn btn-outline-secondary">Публикаций в РИНЦ</button>
								  <button type="button" onclick="location.href='?publ=1&year={{year}}&fak={{fak}}&kaf={{kaf}}';" class="btn btn-outline-secondary">Публикации входящие в ядро РИНЦ</button>
								  <button type="button" onclick="location.href='?publ=2&year={{year}}&fak={{fak}}&kaf={{kaf}}';" class="btn btn-secondary" disabled>Цитирования публикаций в РИНЦ</button>
								  <button type="button" onclick="location.href='?publ=3&year={{year}}&fak={{fak}}&kaf={{kaf}}';" class="btn btn-outline-secondary">Индекс Хирша по публикациям в РИНЦ</button>
						    {% elif publ == 3 %}
						      <button type="button" onclick="location.href='?publ=0&year={{year}}&fak={{fak}}&kaf={{kaf}}';" class="btn btn-outline-secondary">Публикаций в РИНЦ</button>
								  <button type="button" onclick="location.href='?publ=1&year={{year}}&fak={{fak}}&kaf={{kaf}}';" class="btn btn-outline-secondary">Публикации входящие в ядро РИНЦ</button>
								  <button type="button" onclick="location.href='?publ=2&year={{year}}&fak={{fak}}&kaf={{kaf}}';" class="btn btn-outline-secondary">Цитирования публикаций в РИНЦ</button>
								  <button type="button" onclick="location.href='?publ=3&year={{year}}&fak={{fak}}&kaf={{kaf}}';" class="btn btn-secondary" disabled>Индекс Хирша по публикациям в РИНЦ</button>
						    {% endif %}
							{% else %}
								<button type="button" onclick="location.href='?publ=0&year={{year}}&fak={{fak}}&kaf={{kaf}}';" class="btn btn-secondary" disabled>Публикаций в РИНЦ</button>
							  <button type="button" onclick="location.href='?publ=1&year={{year}}&fak={{fak}}&kaf={{kaf}}';" class="btn btn-outline-secondary">Публикации входящие в ядро РИНЦ</button>
							  <button type="button" onclick="location.href='?publ=2&year={{year}}&fak={{fak}}&kaf={{kaf}}';" class="btn btn-outline-secondary">Цитирования публикаций в РИНЦ</button>
							  <button type="button" onclick="location.href='?publ=3&year={{year}}&fak={{fak}}&kaf={{kaf}}';" class="btn btn-outline-secondary">Индекс Хирша по публикациям в РИНЦ</button>
							{% endif %}								  
						</div>
					
						<div class="btn-group row d-flex justify-content-center flex-nowrap">
	<!--
			                <button type="button" class="btn btn-outline-secondary">
			                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-double-left" viewBox="0 0 16 16">
								  <path fill-rule="evenodd" d="M8.354 1.646a.5.5 0 0 1 0 .708L2.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"></path>
								  <path fill-rule="evenodd" d="M12.354 1.646a.5.5 0 0 1 0 .708L6.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"></path>
								</svg>
			                </button>
			                <button type="button" class="btn btn-outline-secondary" disabled>
			                  <span class="visually-hidden">2022 г.</span>
			                  <span class="">за все время</span>
			                </button>
			                <button type="button" class="btn btn-outline-secondary" disabled>
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
								  <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/>
								  <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/>
								</svg>
			                </button>
	-->	
						{% if not publ == 3 %}
							<div class="btn-group row d-flex justify-content-center flex-nowrap mt-1" role="group" aria-label="...">
								{% if year %}
									{% if year == 2017 %}
										  <button type="button" onclick="location.href='?publ={{publ}}&fak={{fak}}&kaf={{kaf}}';" class="btn btn-outline-secondary">за всё время</button>
										  <button type="button" onclick="location.href='?publ={{publ}}&year=2017&fak={{fak}}&kaf={{kaf}}';" class="btn btn btn-secondary" disabled>2017</button>
										  <button type="button" onclick="location.href='?publ={{publ}}&year=2018&fak={{fak}}&kaf={{kaf}}';" class="btn btn-outline-secondary">2018</button>
										  <button type="button" onclick="location.href='?publ={{publ}}&year=2019&fak={{fak}}&kaf={{kaf}}';" class="btn btn-outline-secondary">2019</button>
										  <button type="button" onclick="location.href='?publ={{publ}}&year=2020&fak={{fak}}&kaf={{kaf}}';" class="btn btn-outline-secondary">2020</button>
										  <button type="button" onclick="location.href='?publ={{publ}}&year=2021&fak={{fak}}&kaf={{kaf}}';" class="btn btn-outline-secondary">2021</button>
										  <button type="button" onclick="location.href='?publ={{publ}}&year=2022&fak={{fak}}&kaf={{kaf}}';" class="btn btn-outline-secondary">2022</button>
									{% elif year == 2018 %}
									  <button type="button" onclick="location.href='?publ={{publ}}&fak={{fak}}&kaf={{kaf}}';" class="btn btn-outline-secondary">за всё время</button>
									  <button type="button" onclick="location.href='?publ={{publ}}&year=2017&fak={{fak}}&kaf={{kaf}}';" class="btn btn-outline-secondary">2017</button>
									  <button type="button" onclick="location.href='?publ={{publ}}&year=2018&fak={{fak}}&kaf={{kaf}}';" class="btn btn btn-secondary" disabled>2018</button>
									  <button type="button" onclick="location.href='?publ={{publ}}&year=2019&fak={{fak}}&kaf={{kaf}}';" class="btn btn-outline-secondary">2019</button>
									  <button type="button" onclick="location.href='?publ={{publ}}&year=2020&fak={{fak}}&kaf={{kaf}}';" class="btn btn-outline-secondary">2020</button>
									  <button type="button" onclick="location.href='?publ={{publ}}&year=2021&fak={{fak}}&kaf={{kaf}}';" class="btn btn-outline-secondary">2021</button>
									  <button type="button" onclick="location.href='?publ={{publ}}&year=2022&fak={{fak}}&kaf={{kaf}}';" class="btn btn-outline-secondary">2022</button>	
									{% elif year == 2019 %}
									  <button type="button" onclick="location.href='?publ={{publ}}&fak={{fak}}&kaf={{kaf}}';" class="btn btn-outline-secondary">за всё время</button>
									  <button type="button" onclick="location.href='?publ={{publ}}&year=2017&fak={{fak}}&kaf={{kaf}}';" class="btn btn-outline-secondary">2017</button>
									  <button type="button" onclick="location.href='?publ={{publ}}&year=2018&fak={{fak}}&kaf={{kaf}}';" class="btn btn-outline-secondary">2018</button>
									  <button type="button" onclick="location.href='?publ={{publ}}&year=2019&fak={{fak}}&kaf={{kaf}}';" class="btn btn btn-secondary" disabled>2019</button>
									  <button type="button" onclick="location.href='?publ={{publ}}&year=2020&fak={{fak}}&kaf={{kaf}}';" class="btn btn-outline-secondary">2020</button>
									  <button type="button" onclick="location.href='?publ={{publ}}&year=2021&fak={{fak}}&kaf={{kaf}}';" class="btn btn-outline-secondary">2021</button>
									  <button type="button" onclick="location.href='?publ={{publ}}&year=2022&fak={{fak}}&kaf={{kaf}}';" class="btn btn-outline-secondary">2022</button>
									{% elif year == 2020 %}
									  <button type="button" onclick="location.href='?publ={{publ}}&fak={{fak}}&kaf={{kaf}}';" class="btn btn-outline-secondary">за всё время</button>
									  <button type="button" onclick="location.href='?publ={{publ}}&year=2017&fak={{fak}}&kaf={{kaf}}';" class="btn btn-outline-secondary">2017</button>
									  <button type="button" onclick="location.href='?publ={{publ}}&year=2018&fak={{fak}}&kaf={{kaf}}';" class="btn btn-outline-secondary">2018</button>
									  <button type="button" onclick="location.href='?publ={{publ}}&year=2019&fak={{fak}}&kaf={{kaf}}';" class="btn btn-outline-secondary">2019</button>
									  <button type="button" onclick="location.href='?publ={{publ}}&year=2020&fak={{fak}}&kaf={{kaf}}';" class="btn btn btn-secondary" disabled>2020</button>
									  <button type="button" onclick="location.href='?publ={{publ}}&year=2021&fak={{fak}}&kaf={{kaf}}';" class="btn btn-outline-secondary">2021</button>
									  <button type="button" onclick="location.href='?publ={{publ}}&year=2022&fak={{fak}}&kaf={{kaf}}';" class="btn btn-outline-secondary">2022</button>
									{% elif year == 2021 %}
									  <button type="button" onclick="location.href='?publ={{publ}}&fak={{fak}}&kaf={{kaf}}';" class="btn btn-outline-secondary">за всё время</button>
									  <button type="button" onclick="location.href='?publ={{publ}}&year=2017&fak={{fak}}&kaf={{kaf}}';" class="btn btn-outline-secondary">2017</button>
									  <button type="button" onclick="location.href='?publ={{publ}}&year=2018&fak={{fak}}&kaf={{kaf}}';" class="btn btn-outline-secondary">2018</button>
									  <button type="button" onclick="location.href='?publ={{publ}}&year=2019&fak={{fak}}&kaf={{kaf}}';" class="btn btn-outline-secondary">2019</button>
									  <button type="button" onclick="location.href='?publ={{publ}}&year=2020&fak={{fak}}&kaf={{kaf}}';" class="btn btn-outline-secondary">2020</button>
									  <button type="button" onclick="location.href='?publ={{publ}}&year=2021&fak={{fak}}&kaf={{kaf}}';" class="btn btn btn-secondary" disabled>2021</button>
									  <button type="button" onclick="location.href='?publ={{publ}}&year=2022&fak={{fak}}&kaf={{kaf}}';" class="btn btn-outline-secondary">2022</button>
									{% elif year == 2022 %}
									  <button type="button" onclick="location.href='?publ={{publ}}&fak={{fak}}&kaf={{kaf}}';" class="btn btn-outline-secondary">за всё время</button>
									  <button type="button" onclick="location.href='?publ={{publ}}&year=2017&fak={{fak}}&kaf={{kaf}}';" class="btn btn-outline-secondary">2017</button>
									  <button type="button" onclick="location.href='?publ={{publ}}&year=2018&fak={{fak}}&kaf={{kaf}}';" class="btn btn-outline-secondary">2018</button>
									  <button type="button" onclick="location.href='?publ={{publ}}&year=2019&fak={{fak}}&kaf={{kaf}}';" class="btn btn-outline-secondary">2019</button>
									  <button type="button" onclick="location.href='?publ={{publ}}&year=2020&fak={{fak}}&kaf={{kaf}}';" class="btn btn-outline-secondary">2020</button>
									  <button type="button" onclick="location.href='?publ={{publ}}&year=2021&fak={{fak}}&kaf={{kaf}}';" class="btn btn-outline-secondary">2021</button>
									  <button type="button" onclick="location.href='?publ={{publ}}&year=2022&fak={{fak}}&kaf={{kaf}}';" class="btn btn btn-secondary" disabled>2022</button>
									{% endif %}
								{% else %}									
									  <button type="button" onclick="location.href='?publ={{publ}}&fak={{fak}}&kaf={{kaf}}';" class="btn btn btn-secondary" disabled>за всё время</button>
									  <button type="button" onclick="location.href='?publ={{publ}}&year=2017&fak={{fak}}&kaf={{kaf}}';" class="btn btn-outline-secondary">2017</button>
									  <button type="button" onclick="location.href='?publ={{publ}}&year=2018&fak={{fak}}&kaf={{kaf}}';" class="btn btn-outline-secondary">2018</button>
									  <button type="button" onclick="location.href='?publ={{publ}}&year=2019&fak={{fak}}&kaf={{kaf}}';" class="btn btn-outline-secondary">2019</button>
									  <button type="button" onclick="location.href='?publ={{publ}}&year=2020&fak={{fak}}&kaf={{kaf}}';" class="btn btn-outline-secondary">2020</button>
									  <button type="button" onclick="location.href='?publ={{publ}}&year=2021&fak={{fak}}&kaf={{kaf}}';" class="btn btn-outline-secondary">2021</button>
									  <button type="button" onclick="location.href='?publ={{publ}}&year=2022&fak={{fak}}&kaf={{kaf}}';" class="btn btn-outline-secondary">2022</button>
								{% endif %}
							</div>
						{% endif %}
					</div>

						<div id="my-chart ">

							<table id="stacked-example-3" class="charts-css column multiple show-heading show-labels show-data-axes show-primary-axis data-spacing-20 show-10-secondary-axes mt-3">
								{% if faks_list %}
									<caption> Факультеты </caption>
								{% elif kafs_list %}
									<caption> <a href="/?publ={{publ}}&year={{year}}">Факультеты</a> {{ use_fak_sname }}</caption>
								{% elif sots_list %}
									<caption> <a href="/?publ={{publ}}&year={{year}}">Факультеты</a> <a href="/?publ={{publ}}&year={{year}}&fak={{sots_list.0.5}}">{{ use_fak_sname }}</a> {{ use_kaf_sname }}</caption>
								{% endif %}
								<thead>
									<tr>
										<th scope="col"> Continent </th> 
										<th scope="col"> #1 </th> 
										<th scope="col"> #2 </th> 
									</tr>
								</thead> 
								<tbody>
									{% if faks_list %}
										
										{% for fak in faks_list %}
											{% if fak.5 == fak.6 %}
												<tr>
													<th scope="row"> <a href="?publ={{publ}}&year={{year}}&fak={{ fak.0 }}"> {{ fak.1 }} </a> </th> 
													{% if maxpok == 0 %}
														<td style="--size: calc({{ fak.5 }});--color:rgba(100,210,80,0.75)">
													{% else %}
														<td style="--size: calc({{ fak.5 }}/{{maxpok}});--color:rgba(100,210,80,0.75)">
													{% endif %}
														<span class="data"> {{ fak.5 }} </span>
														<span class="tooltip"> 
															<b>{{ fak.fak_name }}</b><br/>
															Кол-во кафедр: {{ fak.3 }} <br/>
															Кол-во сотрудников: {{ fak.4 }} <br/>
															Отчётные показатели: {{ fak.5 }} <br/>
															Показатели на elibrary: {{ fak.6 }} 	
														</span>
													</td>		
												</tr>		
											{% else %}
												<tr>
													<th scope="row"> <a href="?publ={{publ}}&year={{year}}&fak={{ fak.0 }}"> {{ fak.1 }} </a> </th> 
													{% if maxpok == 0 %}
														<td style="--size: calc({{ fak.5 }});">
													{% else %}
														<td style="--size: calc({{ fak.5 }}/{{maxpok}});">
													{% endif %}
														<span class="data"> {{ fak.5 }} </span>
														<span class="tooltip"> 
															<b>{{ fak.2 }}</b><br/>
															Кол-во кафедр: {{ fak.3 }} <br/>
															Кол-во сотрудников: {{ fak.4 }} <br/>
															Отчётные показатели: {{ fak.5 }} <br/>
															Показатели на elibrary: {{ fak.6 }} <br/>
														</span>
													</td>
													{% if maxpok == 0 %}
														<td style="--size: calc({{ fak.6 }});">
													{% else %}
														<td style="--size: calc({{ fak.6 }}/{{maxpok}});">
													{% endif %}
														<span class="data"> {{ fak.6 }} </span>
														<span class="tooltip"> 
															<b>{{ fak.2 }}</b><br/>
															Кол-во кафедр: {{ fak.3 }} <br/>
															Кол-во сотрудников: {{ fak.4 }} <br/>
															Отчётные показатели: {{ fak.5 }} <br/>
															Показатели на elibrary: {{ fak.6 }} <br/>
														</span>
													</td>
												</tr>
											{% endif %}
	                	{% endfor%}

	                {% elif kafs_list %}

										{% for kaf in kafs_list %}
											{% if kaf.4 == kaf.5 %}
												<tr>
													<th scope="row"> <a href="?publ={{publ}}&year={{year}}&kaf={{kaf.0}}"> {{kaf.1}} </a> </th> 
													{% if maxpok == 0 %}
														<td style="--size: calc({{kaf.4}});--color:rgba(100,210,80,0.75)">
													{% else %}
														<td style="--size: calc({{kaf.4}}/{{maxpok}});--color:rgba(100,210,80,0.75)">
													{% endif %}
														<span class="data"> {{kaf.4}} </span>
														<span class="tooltip"> 
															<b>{{kaf.2}}</b><br/>
															Кол-во сотрудников: {{kaf.3}} <br/>
															Отчётные показатели: {{kaf.4}} <br/>
															Показатели на elibrary: {{kaf.5}}											
														</span>
													</td>		
												</tr>		
											{% else %}			
												<tr>
													<th scope="row"> <a href="?publ={{publ}}&year={{year}}&kaf={{kaf.0}}"> {{kaf.1}} </a> </th> 
													{% if maxpok == 0 %}
														<td style="--size: calc({{kaf.4}});">
													{% else %}
														<td style="--size: calc({{kaf.4}}/{{maxpok}});">
													{% endif %}
														<span class="data"> {{kaf.4}} </span>
														<span class="tooltip"> 
															<b>{{kaf.2}}</b><br/>
															Кол-во сотрудников: {{kaf.3}} <br/>
															Отчётные показатели: {{kaf.4}} <br/>
															Показатели на elibrary: {{kaf.5}}										
														</span>
													</td>
													{% if maxpok == 0 %}
														<td style="--size: calc({{kaf.5}});">
													{% else %}
														<td style="--size: calc({{kaf.5}}/{{maxpok}});">
													{% endif %}
														<span class="data"> {{kaf.5}} </span>
														<span class="tooltip"> 
															<b>{{kaf.2}}</b><br/>
															Кол-во сотрудников: {{kaf.3}} <br/>
															Отчётные показатели: {{kaf.4}} <br/>
															Показатели на elibrary: {{kaf.5}}
														</span>
													</td>
												</tr>
											{% endif %}
	                	{% endfor%}

	                {% elif sots_list %}

										{% for sot in sots_list %}
											{% if sot.2 == sot.3 %}
												<tr>
													<th scope="row" style="font-size: 9px;"> <a href="https://www.elibrary.ru/author_profile.asp?authorid={{sot.4}}">{{sot.0}} </a> </th> 
													{% if maxpok == 0 %}
														<td style="--size: calc({{sot.2}});--color:rgba(100,210,80,0.75)">
													{% else %}
														<td style="--size: calc({{sot.2}}/{{maxpok}});--color:rgba(100,210,80,0.75)">
													{% endif %}
														<span class="data"> {{sot.3}} </span>
														<span class="tooltip"> 
															<b>{{sot.1}}</b><br/>
															Показатели на elibrary: {{sot.2}} <br/>
															Отчётные показатели: {{sot.3}}												
														</span>
													</td>		
												</tr>		
											{% else %}			
												<tr>
													<th scope="row" style="font-size: 9px;"> <a href="https://www.elibrary.ru/author_profile.asp?authorid={{sot.4}}">{{sot.0}} </a> </th> 
													{% if maxpok == 0 %}
														<td style="--size: calc({{sot.2}});">
													{% else %}
														<td style="--size: calc({{sot.2}}/{{maxpok}});">
													{% endif %}
														<span class="data"> {{sot.2}} </span>
														<span class="tooltip"> 
															<b>{{sot.1}}</b><br/>
															Отчётные показатели: {{sot.2}} <br/>
															Показатели на elibrary: {{sot.3}}
														</span>
													</td>
													{% if maxpok == 0 %}
														<td style="--size: calc({{sot.3}});">
													{% else %}
														<td style="--size: calc({{sot.3}}/{{maxpok}});">
													{% endif %}
														<span class="data"> {{sot.3}} </span>
														<span class="tooltip"> 
															<b>{{sot.1}}</b><br/>
															Отчётные показатели: {{sot.2}} <br/>
															Показатели на elibrary: {{sot.3}}									
														</span>
													</td>
												</tr>
											{% endif %}
	                	{% endfor%}

                	{% endif %}
						
								</tbody>

							</table>
							<ul class="charts-css legend legend-inline legend-square mt-3">
							  <li> отчётные показатели </li>
							  <li> показатели на elibrary </li>
							  <li> отчётные показатели и показатели с elibrary равны </li>
							</ul>

						</div> <!-- my-chart -->					
<!--
						<div id="my-chart ">

							<table id="stacked-example-3" class="charts-css column show-heading show-labels show-primary-axis show-1-secondary-axes data-spacing-10 multiple stacked mt-3">
								<caption> <a href="#">Факультеты</a> Фак КТиИБ</caption> 
								<thead>
									<tr>
										<th scope="col"> Continent </th> 
										<th scope="col"> #1 </th> 
										<th scope="col"> #2 </th> 
									</tr>
								</thead> 
								<tbody>
									<tr>
										<th scope="row"> Каф ИСиПИ </th> 
										<td style="--size:0.52;">
											<span class="data"> 52 </span>
											<span class="tooltip"> 
												<b>Кафедра Информационных систем и прикладной информатики</b><br/> 
												Отчётные показатели: 52<br/>
												Показатели на elibrary: 58
											</span>
										</td>
										<td style="--size:0.06;">
											<span class="data"> 58 </span>
											<span class="tooltip"> 
												<b>Кафедра Информационных систем и прикладной информатики</b><br/>
												Отчётные показатели: 52<br/>
												Показатели на elibrary: 58
											</span>
										</td>										
									</tr> 
									<tr>
										<th scope="row"> Каф ФиПМ </th> 
										<td style="--size:0.65;">
											<span class="data"> 65 </span>
											<span class="tooltip"> Кафедра Фундаментальной и прикладной математики </span>
										</td> 
										<td style="--size:0.02;">
											<span class="tooltip"> Кафедра Фундаментальной и прикладной математики </span>
										</td>
									</tr> 
									<tr><th scope="row"> Каф ИТиЗИ </th> 
										<td style="--size:0.35;">
											<span class="data"> 35 </span>
											<span class="tooltip"> Кафедра Информационных технологий и защиты информации </span>
										</td> 
										<td style="--size:0.09;">
											<span class="data"> 44 </span>
											<span class="tooltip"> Кафедра Информационных технологий и защиты информации </span>
										</td>
									</tr> 
									<tr>
										<th scope="row"> Каф ФВСиТ </th> 
										<td style="--size:0.93;--color:rgba(100,210,80,0.75)">
											<span class="data"> 93 </span>
											<span class="tooltip"> Факультет Компьютерных технологий и информационной безопасности </span>
										</td>		
									</tr>					
								</tbody>

							</table>
							<ul class="charts-css legend legend-inline legend-square mt-3">
							  <li> отчётные показатели </li>
							  <li> показатели на elibrary </li>
							  <li> отчётные показатели и показатели с elibrary равны </li>
							</ul>

						</div> <!-- my-chart -->

<!--
						<div id="my-chart ">

							<table id="stacked-example-3" class="charts-css column show-heading show-labels show-primary-axis show-1-secondary-axes data-spacing-10 multiple stacked mt-3">
								<caption> <a href="#">Факультеты</a> <a href="#">Фак КТиИБ</a> Каф ИТиЗИ</caption> 
								<thead>
									<tr>
										<th scope="col"> Continent </th> 
										<th scope="col"> #1 </th> 
										<th scope="col"> #2 </th> 
									</tr>
								</thead> 
								<tbody>
									<tr>
										<th scope="row"> Жилина Е В </th> 
										<td style="--size:0.52;">
											<span class="data"> 52 </span>
											<span class="tooltip"> 
												<b>Жилина Елена Владимировна</b><br/> 
												Отчётные показатели: 52<br/>
												Показатели на elibrary: 58
											</span>
										</td>
										<td style="--size:0.06;">
											<span class="data"> 58 </span>
											<span class="tooltip"> 
												<b>Жилина Елена Владимировна</b><br/>
												Отчётные показатели: 52<br/>
												Показатели на elibrary: 58
											</span>
										</td>										
									</tr> 
									<tr>
										<th scope="row"> Черкезов С Е </th> 
										<td style="--size:0.65;">
											<span class="data"> 65 </span>
											<span class="tooltip"> Черкезов Савелий Евгеньевич </span>
										</td> 
										<td style="--size:0.02;">
											<span class="tooltip"> Черкезов Савелий Евгеньевич </span>
										</td>
									</tr> 
									<tr><th scope="row"> Ефимова Е В </th> 
										<td style="--size:0.35;">
											<span class="data"> 35 </span>
											<span class="tooltip"> Ефимова Елена Владимировна </span>
										</td> 
										<td style="--size:0.09;">
											<span class="data"> 44 </span>
											<span class="tooltip"> Ефимова Елена Владимировна </span>
										</td>
									</tr> 
									<tr>
										<th scope="row"> Серпенинов О В </th> 
										<td style="--size:0.93;--color:rgba(100,210,80,0.75)">
											<span class="data"> 93 </span>
											<span class="tooltip"> 	Серпенинов Олег Витальевич </span>
										</td>		
									</tr>					
								</tbody>

							</table>
							<ul class="charts-css legend legend-inline legend-square mt-3">
							  <li> отчётные показатели </li>
							  <li> показатели на elibrary </li>
							  <li> отчётные показатели и показатели с elibrary равны </li>
							</ul>

						</div> <!-- my-chart -->
	        </div>
	      </div>
		</main>

    <script type="text/javascript">

    </script>
        
	<hr>
    <footer class="container">
      <p>&copy; РГЭУ "РИНХ" ВКР 2022</p>
    </footer>

<!--    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script> -->
    <script>window.jQuery || document.write('<script src="{% static 'mainapp/js/jquery-slim.min.js' %}"><\/script>')</script>
    <script src="{% static 'mainapp/js/popper.min.js' %}"></script>
    <script src="{% static 'mainapp/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'mainapp/js/bootstrap.bundle.min.js' %}"></script>

  </body>      
</html>
